
.myform {        
    border: 2px solid #000;
    
    font-size: 56px ! important;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    padding: 10px;
    text-align: left;
}